<div class="page-inner temp-train no-bg">
    <ul class="img-list">
        <li>
            <div class="inner">
                <div class="img-box">
                    <img src="/images/content/u219.png">
                </div>
                <div class="text-box">
                    <span class="name">车牌识别</span>
                    <button class="btn btn-info" ng-click="tryCheck('card')">试用一下</button>
                </div>
            </div>
        </li>
        <li>
            <div class="inner">
                <div class="img-box">
                    <img src="/images/content/u219.png">
                </div>
                <div class="text-box">
                    <span class="name">图像识别</span>
                    <button class="btn btn-info" ng-click="tryCheck('img')">试用一下</button>
                </div>
            </div>
        </li>
    </ul>
</div>

